/* body {
  background-color: rgba(255, 255, 204);
} */
header {

background-color: rgb(227, 190, 66, 0.30);
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  z-index: 1000;
  margin: 0;
  font-size: 1.5em;
}


header ul {
  text-align: center;
  margin: 0;
}

header li {
  display: inline-block;
  text-decoration: none;
  padding: 0.35em 2em;
  /* color: var(--main-bg-color); */
  color: white;
}

.menuContent li {
  display: block;
}

.menuContent {
  display: none;
}

.show {
  display: block;
  text-align: left;
  background-color:  var(--header-footer-bg-color);
}


header li:hover {
  background-color: black;
  filter: drop-shadow(2px 2px 15px var(--main-bg-color));
  color: white;

}

footer {
  margin-top: 2em;
  text-align: center;
  background-color: rgb(227, 190, 66, 0.30);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.6em;
  color: white;
  padding: 0.5em;
  font-family: 'Amatic SC';
}


footer a {
  color: white;
  font-family: 'Amatic SC';
}

.section {
  border-radius: 1em;
  background-color: rgb(255, 240, 242, 0.30);
  color: black;
  position: relative;
  padding: 2em;
  transition: all 1500ms linear;
}

.section:hover {
  background-color: #ffe9ec;
  transition: all 1500ms linear;
}

.section h3 {
  margin-bottom: 0.5em;
}

.section a:hover {
  color: #ffe9ec;
}


.section ul {
  margin-top: 0.5em;
}

.screenshot {
  flex: 1;
  padding-left: 1.5em;
  padding-top: 0.5em;
}

.screenshot img {
  width: 17em;
  border-radius: 0.5em;;
}

#contact1.section{
  margin-bottom: 200px;
}
* {
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

h1{
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}
/* h1, h2, h3, h4, h5 {
  color: var(--light-text-color);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2em;
} */

h2 {
  font-size: 1.7em;
  text-align: center;
  color: black;
  font-family: 'Amatic SC';

}

h3 {
  font-size: 1.2em;
  color: black;
  padding: 10px;
  font-family: 'Amatic SC';
}

header li {
  padding: 0.35em 2em;
  font-family: 'Amatic SC';
  font-size: 30px;
}
}

header li:hover {
  color: var(--dark-text-color);

}

.wrapper {
  /* background-color:rgba(33, 33, 33, 0.9); */
  /* color:#ffffff; */
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
  margin: 6em auto;
  padding: 2em;
  font-size: 1.2em;
}
.wrapper {
  width: 65%;
}
.anchor{
  /* dont really love this, but this is to cater for the fixed header wrt menu  navigation */

  display: block;
  /* height: 5em;       /*same height as header*/ */
  margin-top: -5em;  /*same height as header*/
  visibility: hidden;

  background-color:rgba(33, 33, 33, 0.9);
  color:rgb(255, 240, 242);
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
}

.section {

  border: black solid 1px;
  box-shadow: 0.2em 0.2em;
  border-radius: 1em;
  margin: 1em 0;
}

.section li:nth-child(1) {
  color: rgb(255, 240, 242);
}
.section li:nth-child(2) {
  color: rgb(255, 240, 242);
}
.section li:nth-child(3) {
  color: rgb(255, 240, 242);
}
.section li:nth-child(4) {
  color: rgb(255, 240, 242);
}
.section li:nth-child(5) {
  color: rgb(255, 240, 242);
}
.section li:nth-child(6) {
  color: rgb(255, 240, 242);
}
.section li:nth-child(7) {
  color: rgb(255, 240, 242);
}

.section:hover {
  color: black;
}

.section h3 a {
  color: black;
}

.section h3 a:hover {
  color: black;
  text-decoration: none;
}

#portfolio1 li{
  color: black;
}

.section a {
  color: black;
  text-decoration: underline;
}


.interlude {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 5em;
    margin-bottom: 5em;
}

.interlude {
    height: 30vh;
    opacity: .3;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn {
  width: 120px;
  height: 50px;
}

@media only screen and (min-width: 600px) {
td {
  padding: 10px;
}

table {
  float: none;
}

.table1{
  margin-left: 400px;
  margin-top: -400px;
}
}
@media only screen and (min-width: 1001px) {
  #bar {
    display: block;
  }

  #burger {
    display: none;
  }

}

@media only screen and (max-width: 1000px) {

  #bar {
    display: none;
  }

  #burger {
    display: block;
  }

  #divButtMenu {
    margin-bottom: -12px;
  }
  .wrapper {
    width: 95%;
    margin: 2em auto;
    padding: 1em;
    font-size: 1em;
  }

  .anchor {
    height: 0;
    margin-top: 0;
  }

  #contact1 img {
    display: none;
  }

  .section img {
    display: none;
  }


  .interlude {
      filter: none;
      background-image: none;
      opacity: 0;
      height: 10vh;
  }

  footer {
    font-size: 1em;
  }

  header li:hover {
  background-color: var(--main-bg-color);
  filter: none;
  color: var(--dark-text-color);
  }


footer {
  color: white;
}

footer a:hover {
  color: var(--dark-text-color);
}

}
