/* body {
  background-color: rgba(255, 255, 204);
} */
header {

/* background: linear-gradient(354deg, #ffdb58, #ffdb58, #000); */
background-color: #e3be42;
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  z-index: 1000;
  margin: 0;
  /* background-color: rgba(153, 153, 204); */
  font-size: 1.5em;
}


header ul {
  text-align: center;
  margin: 0;
}

header li {
  display: inline-block;
  text-decoration: none;
  padding: 0.35em 2em;
  /* color: var(--main-bg-color); */
  color: black;
}

.menuContent li {
  display: block;
}

.menuContent {
  display: none;
}

.show {
  display: block;
  text-align: left;
  background-color:  var(--header-footer-bg-color);
}


header li:hover {
  background-color: black;
  filter: drop-shadow(2px 2px 15px var(--main-bg-color));
  color: white;

}

footer {
  margin-top: 2em;
  text-align: center;
  background-color: #e3be42;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
  color: var(--header-footer-text-color);
  padding: 0.5em;
}


footer a {
  color: var(--header-footer-text-color);
}

.section {
  border-radius: 1em;
  background-color: white;
  color: black;
  position: relative;
  padding: 2em;
  transition: all 1500ms linear;
}

.section:hover {
  background-color: white;
  transition: all 1500ms linear;
}

.section h3 {
  margin-bottom: 0.5em;
}

.section a:hover {
  color: var(--link-hover-text-color);
}


.section ul {
  margin-top: 0.5em;
}

.screenshot {
  flex: 1;
  padding-left: 1.5em;
  padding-top: 0.5em;
}

.screenshot img {
  width: 17em;
  border-radius: 0.5em;;
}


* {
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

h1{
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}
/* h1, h2, h3, h4, h5 {
  color: var(--light-text-color);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2em;
} */

h2 {
  font-size: 1.7em;
  text-align: center;
  color: black;
}

h3 {
  font-size: 1.2em;
}

header li {
  padding: 0.35em 2em;
}

header li:hover {
  color: var(--dark-text-color);
}

.wrapper {
  /* background-color:rgba(33, 33, 33, 0.9); */
  /* color:#ffffff; */
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
  margin: 6em auto;
  padding: 2em;
  font-size: 1.2em;
}
.wrapper {
  width: 65%;
}
.anchor{
  /* dont really love this, but this is to cater for the fixed header wrt menu  navigation */

  display: block;
  height: 5em;       /*same height as header*/
  margin-top: -5em;  /*same height as header*/
  visibility: hidden;

  background-color:rgba(33, 33, 33, 0.9);
  color:#ffffff;
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
}

.section {

  border: black solid 1px;
  box-shadow: 0.2em 0.2em;
  border-radius: 1em;
  margin: 1em 0;
}

.section li:nth-child(1) {
  color: var(--section-text-color);
}
.section li:nth-child(2) {
  color: var(--section-text-color);
}
.section li:nth-child(3) {
  color: var(--section-text-color);
}
.section li:nth-child(4) {
  color: var(--section-text-color);
}
.section li:nth-child(5) {
  color: var(--section-text-color);
}
.section li:nth-child(6) {
  color: var(--section-text-color);
}
.section li:nth-child(7) {
  color: var(--section-text-color);
}

.section:hover {
  color: var(--dark-text-color);
}

.section h3 a {
  color: var(--light-text-color);
}

.section h3 a:hover {
  color: var(--section-bg-color);
  text-decoration: none;
}

.section a {
  color: var(--section-text-color);
  text-decoration: underline;
}


.interlude {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 5em;
    margin-bottom: 5em;
}

.interlude {
    height: 30vh;
    opacity: .3;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn {
  width: 120px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {

  #bar {
    display: none;
  }

  #burger {
    display: block;
  }

  #divButtMenu {
    margin-bottom: -12px;
  }
  .wrapper {
    width: 95%;
    margin: 2em auto;
    padding: 1em;
    font-size: 1em;
  }

  .anchor {
    height: 0;
    margin-top: 0;
  }

  #contact1 img {
    display: none;
  }

  .section img {
    display: none;
  }


  .interlude {
      filter: none;
      background-image: none;
      opacity: 0;
      height: 10vh;
  }

  footer {
    font-size: 1em;
  }

  header li:hover {
  background-color: var(--main-bg-color);
  filter: none;
  color: var(--dark-text-color);
  }


footer {
  color: var(--header-footer-text-color);
}

footer a:hover {
  color: var(--dark-text-color);
}

body {
	font-family: 'Indie Flower', cursive !important;
  background: #FDE3A7; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	/* position: absolute; */
	margin-top: 30%;
	margin-left: 25%;
	width: 300px;
	/* height: 400px; */
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	max-width: 300px;
	min-height: 300px;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 15px;
	line-height: 5px;
	transform: rotate(-10deg);
	padding: 0 0 0 20px;

}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}
}
