*{
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100vw;
  height:700vh;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}


footer {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}


.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@media only screen and (max-width: 1000px) {

  .card{
    display: none;
  }
  .bullets li{
    display: block;
  }
}

/* @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC'); */

body {
	/* font-family: 'Indie Flower', cursive !important; */
  background: #FDE3A7; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC' !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	/* position: absolute; */
	margin-top: 20%;
	margin-left: 50%;
	width: 300px;
	/* height: 400px; */
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position:absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	max-width: 300px;
	min-height: 300px;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 15px;
	line-height: 5px;
	transform: rotate(-10deg);
	padding: 0 0 0 20px;

}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}

@media only screen and (min-width: 500px) {

}
button {
	position: relative;
	font-size: 24px;
	color: black;
	border: 1px solid;
	border-radius: 5px;
	width: 180px;
  height: 40px;
	overflow: hidden;
	animation: color-border 1s ease-out forwards;
	transition: .5s;

}
.button1{
  margin-left: 28%;
  margin-top: -80px;

}
.button2{
  margin-left: 28%;
  margin-top: -80px;

}
.button3{
  margin-left: 28%;
  margin-top: -80px;

}
button:focus {
	outline: none;
	box-shadow: inset 0px 10px 55px 8px rgba(1,1,23,0.4);
	text-shadow: 0px 0px 5px rgba(255, 255, 255, .8);
	color: #fff;
}

button:before, button:after {
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	transition: .5s;
	opacity: .4;
	filter: blur(30px);
}

button:before {
	width: 60px;
	/* background-color: rgba(255,255,255, .6); */
	transform: translateX(-130px) skewX(-45deg);
}

button:after {
	width: 30px;
	/* background-color: rgba(255,255,255, .3); */
	transform: translateX(-115px) skewX(-45deg);
}

button:hover {
	color: #fff;
	cursor: pointer;
	/* text-shadow: 0px 0px 5px rgba(255, 255, 255, .8);
	box-shadow: inset 0px 10px 55px 8px rgba(1,1,23,0.4); */
	animation: up-down .5s ease-out;
	transition: .5s;
}

/* Twinkle settings when buttons hover */
button.style1:hover:before,
button.style1:hover:after {
	transform: translateX(320px) skewX(-45deg);
	transition: .5s;
	opacity: .8;

}

button.style2:hover:before,
button.style2:hover:after {
	transform: translateX(320px) skewX(45deg);
	transition: .5s;
	opacity: .8;
}

button.style3:hover:before,
button.style3:hover:after {
	transform: translateX(320px) skewX(-90deg);
	transition: .5s;
	opacity: .8;
}

button.style4:hover:before,
button.style4:hover:after  {
	transform: translateX(320px) skewX(90deg);
	transition: .5s;
	opacity: .8;
}

button.style5:hover:before,
button.style5:hover:after {
	transform: translateX(320px) skewX(120deg);
	transition: .5s;
	opacity: .8;
}

button.style6:hover:before,
button.style6:hover:after {
	transform: translateX(320px) skewX(-120deg);
	transition: .5s;
	opacity: .8;
}


/* Button color settings (border and background are same color) */
button.red { border-color: rgb(30,144,255); }
button.red:hover, button.red:focus { background: rgb(135,206,250); }

button.orange { border-color: rgb(255,105,180);}
button.orange:hover, button.orange:focus { background: rgb(255,232,250); }

button.yellow { border-color: #cebf0c;}
button.yellow:hover, button.yellow:focus { background: rgb(255,250,205); }

button.green { border-color: rgb(30,144,255);}
button.green:hover, button.green:focus  { background: rgb(135,206,250); }

button.blue { border-color: #ff6277;}
button.blue:hover, button.blue:focus { background: #ffc8cf; }

button.purple { border-color: rgb(139,0,139);}
button.purple:hover, button.purple:focus { background: rgb(221,160,221); }


/* Up-Down text in button when buttons hover */
@keyframes up-down {
    0% {padding-bottom: 10px;}
    25% {padding-bottom: 0px;}
    50% {padding-top: 10px;}
    100% {padding-top: 0;}
}

/* Softly show when page loaded */
@keyframes color-border {
    0% { color: transparent; border-color: transparent; }

}


/*
	The Codes after this line are unnecessary for the operation of the
  "Hover Effect". These codes just for the promotion.
*/

/* Reset Code */
body {
	margin: 0;
	padding: 0;
	background: #010804;

}

.buttons {
	position: absolute;
	margin-top: -2%;
	margin-left: 80%;
	transform: translate(-50%,-50%);
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 500px;
	grid-gap: 10px;

}

.buttons h1 {
	grid-column: 1/3;
	grid-row: 1/2;
	text-align: center;
  color: rgba(255,255,255, .8);
	font-weight: 100;
	font-size: 40px;
	text-shadow: 0px 0px 5px currentColor;
	animation: color-border 1s ease-out forwards;
}

button.green{

  color: black;

}

button.orange{
  color: black;
}

button.red{
  color: black;

}

button.yellow{
  color: black;
}

button.blue{
  color: black;

}

button.purple{
  color: black;
}


/* Colorize h1 text when buttons hover */
button.red:focus ~ h1 { color: rgb(135,206,250); } button.red:hover ~ h1 { color: rgb(135,206,250)!important; }
button.orange:focus ~ h1 { color: rgb(255,232,250); } button.orange:hover ~ h1 { color: rgb(255,232,250)!important; }
button.yellow:focus ~ h1 { color: rgb(255,250,205); } button.yellow:hover ~ h1 { color: rgb(255,250,205)!important; }
button.green:focus ~ h1 { color: rgb(135,206,250); } button.green:hover ~ h1 { color: rgb(135,206,250)!important; }
button.blue:focus ~ h1 { color: #ffc8cf; } button.blue:hover ~ h1 { color: #ffc8cf!important; }
button.purple:focus ~ h1 { color: rgb(221,160,221); } button.purple:hover ~ h1 { color: rgb(221,160,221)!important; }


/* @import url('https://fonts.googleapis.com/css?family=PT+Sans'); */



.social {
	margin: 0 auto;
	width: 600px;
	text-align: center;
	padding: 20px;
}

.social h2 {
	color: #86a5d6;
	font-size: 40px;
	font-family: 'PT Sans', sans-serif;
}

[class^="icon-btn"] /*.icon-btn*/ {
	height: 75px;
	width: 75px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: #fff;
}

.envelope {
	color: #4099FF;
}


.file-text-o {
	color: #DB5A3C;
}

.linkedin {
	color: #5C3D2E;
}

.github {
	color: #4183C4;
}

.icon-btn:hover {
	transform: scale(1.10);
	color: #FFFFFF;
}

.envelope:hover {
	background-color: #4099FF;
}

.facebook:hover {
	background-color: #3B5998;
}

.file-text-o:hover {
	background-color: #DB5A3C;
}

.linkedin:hover {
	background-color: #5C3D2E;
}

.github:hover {
	background-color: #4183C4;
}

a.link {
	color: inherit;
}


/* Hover effect for card*/
